header {
  width: 100%;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(16, 1, 1, 0.469);
}

.logo {
  height: 60px;
  width: auto;
  cursor: pointer;
}
.burger-logo {
  position: absolute;

  width: 112px;
  height: 110px;
  border-radius: 50%;
  right: 55%;
  top: 320px;
  object-fit: cover;
  margin: 16px auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-color: darkorange;
  border-style: groove;
}
.content_wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.content {
  width: calc(100% - 300px);
  padding: 16px;
}
.main-logo {
  height: 290px;
  width: -webkit-fill-available;
  object-fit: cover;
  margin: -16px;
}
.rating {
  color: orange;
}
span {
  color: darkorange;
}
.main-titel {
  padding: 20px;
  margin: 16px 0 16px 0;
}

.fast-food {
  display: -webkit-inline-box;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 16px 0 16px 0;

  transition: box-shadow 0.3s ease;
}
.fast-food:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}
.description {
  margin-bottom: 20px;
}
.description h3 {
  margin: 0 0 24px 0;
  font-size: 20px;
}
.description p {
  margin: 0;
  font-size: 16px;
  color: #555;
}
.description span {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.hidden {
  display: none;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkorange;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 600px;
  height: 400px;
  text-align: center;
  border-radius: 8px;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.popup-content {
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 320px;
}
.burger-logo1 {
  height: 150px;
  width: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  right: 55%;
  top: 320px;
  object-fit: cover;
  margin: 16px auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-color: darkorange;
  border-style: groove;
}
.timer {
  color: white;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  background-color: darkgoldenrod;
  height: 50px;
  border-top: 1px solid #e5e5e5;
  color: white;
}
