.basket_wrapper {
  width: 300px;
  flex-grow: 1;
  padding: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.basket {
  position: sticky;
  top: 0px;
  width: 100%;
}

.basket_title {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.basket h3 {
  margin-bottom: 24px;
}

.basket-description {
  text-align: center;
  font-size: 14px;
  color: #0b0303;
  position: relative;
}

.scroll {
  overflow-y: auto;
  height: auto;
  scroll-behavior: smooth;
  scrollbar-color: black;
  padding: 9px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: darkorange;
  border-radius: 6px;
}

.basket-dish {
  margin-bottom: 24px;
  padding: 16px;
  margin-top: 24px;
  border: 1px solid orange;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.basketQuantity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.trash_dish {
  position: absolute;
  top: 0px;
  left: 200px;
  height: 23px;
  width: 20px;
  cursor: pointer;
}

.basket-sum {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  padding: 18px;
}

.order-btn {
  width: 100%;
  padding: 12px;
  background-color: darkorange;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.bold {
  font-weight: bold;
  font-size: large;
  color: #0b0303;
}

.total-table {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 6px;
}

.btn_basket {
  width: 80%;
  display: none;
  padding: 12px;
  background-color: darkorange;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.basket-responsive {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 16px;
  overflow-y: auto;
}

.content_basket {
  height: auto;
}

.empty-basket {
  position: relative;
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-top: 200px;
}
