* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categories {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 24px;
}
.category {
  color: darkorange;
  font-size: 19px;
  text-decoration: none;
  padding: 8px 16px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.category:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

@media (min-width: 600px) and (max-width: 2500px) {
  .trash_shopping_cart {
    display: none;
  }
}
@media (max-width: 1300px) {
  .burger-logo {
    position: absolute;

    width: 92px;
    height: 92px;
    border-radius: 50%;
    right: 55%;
    top: 324px;
    object-fit: cover;
    margin: 16px auto;
  }
}

@media (max-width: 600px) {
  .basket_wrapper {
    display: none;
    width: 100%;
    box-shadow: none;
  }
  .burger-logo {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    left: 50%;
    top: 324px;
    object-fit: cover;
    margin: 16px auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  .content {
    width: 100%;
  }
  .basket_wrapper {
    width: 300px;
    padding: 16px;
  }

  .btn_basket {
    display: block;
    position: fixed;
    bottom: 20px;
    transform: translate(-50%);
    left: 50%;
    z-index: 1000;
  }
  .trash_dish {
    position: absolute;
    top: 0px;
    left: 499px;
    height: 23px;
    width: 20px;
    cursor: pointer;
  }

  body.show-basket .content {
    display: none;
  }
  .footer {
    display: none;
  }
  body.show-basket .burger-logo {
    display: none;
  }
  body.show-basket .basket_wrapper {
    display: block;
  }
  .basket-sum {
    bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .basket {
    width: 100%;
    height: 400px;
    top: 0;
    right: 0;
  }
  .basket_titel {
    display: flex;
    justify-content: space-evenly;
  }
  .trash_shopping_cart {
    color: white;
    background-color: orange;
    border-style: hidden;
    border-radius: 9px;
    width: 24px;
    font-size: 24px;
  }
  .trash_dish {
    position: relative;
    top: 0px;
    left: auto;
    height: auto;
    width: 20px;
    cursor: pointer;
  }
}
